#opcao-cartao-1:checked ~ #cartao-2,
#opcao-cartao-2:checked ~ #cartao-1{
    display: none;
}

.cartao {
    width: 100%;
}

body {
    background: #990033;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

input[type=radio] {
    display: none;
}

label {
    background-color: #990033;
    color: white;
    display: block;
    font-size: 75%;
    padding: 4em 0 1em;
    text-transform: uppercase;
}
    label[for=opcao-cartao-1] {
    background-image: url(imagens/1.svg);
    }
    label[for=opcao-cartao-2] {
    background-image: url(imagens/1.svg);
    }

 label{
 	background-repeat: no-repeat;
 	background-position: center top;
 }

input[type=radio]:checked + label {
    background-color: #E4876D
}

label {
    width: 50%;

    position: fixed;
    bottom: 0;
    z-index: 1;
}

label[for=opcao-cartao-1] {
    left:0;

}

label[for=opcao-cartao-2] {
    right: 0;
}